VapourSynth>=68
vstools==3.1.0 # vs-tools
vspyplugin==1.4.1 # vs-pyplugin
vskernels==3.1.0 # vs-kernels
vsexprtools==1.5.1 # vs-exprtools
vsrgtools==1.6.2 # vs-rgtools
vsmasktools==1.2.1 # vs-masktools
vsaa==1.9.1 # vs-aa
vsscale==2.0.1 # vs-scale
vsdenoise==2.5.1 # vs-denoise
vsdehalo==1.8.1 # vs-dehalo
vsdeband==1.1.1 # vs-deband
vsdeinterlace==0.6.1 # vs-deinterlace
vssource==0.10.1 # vs-source
vspreview==0.8.1 # vs-preview