VapourSynth>=65
vstools==3.0.0 # vs-tools
vspyplugin==1.4.0 # vs-pyplugin
vskernels==3.0.1 # vs-kernels
vsexprtools==1.5.0 # vs-exprtools
vsrgtools==1.6.1 # vs-rgtools
vsmasktools==1.2.0 # vs-masktools
vsaa==1.9.0 # vs-aa
vsscale==2.0.0 # vs-scale
vsdenoise==2.5.0 # vs-denoise
vsdehalo==1.8.0 # vs-dehalo
vsdeband==1.1.0 # vs-deband
vsdeinterlace==0.6.0 # vs-deinterlace
vssource==0.9.6 # vs-source
vspreview==0.8.0 # vs-preview