VapourSynth>=60
vstools==2.0.6 # vs-tools
vspyplugin==1.3.1 # vs-pyplugin
vskernels==2.3.2 # vs-kernels
vsexprtools==1.4.3 # vs-exprtools
vsrgtools==1.4.3 # vs-rgtools
vsmasktools==0.9.3 # vs-masktools
vsaa==1.6.3 # vs-aa
vsscale==1.7.3 # vs-scale
vsdenoise==2.1.3 # vs-denoise
vsdehalo==1.6.2 # vs-dehalo
vsdeband==0.9.2 # vs-deband
vsdeinterlace==0.4.1 # vs-deinterlace
lvsfunc==0.7.1 # lvsfunc
vsparsedvd==0.1.0 # vs-parsedvd
vspreview==0.4.3 # vs-preview